doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    script(src='flashobject.js')
  body
    form
      h3 Game mode
      each display, name in {"solo": "Solo", "tutorial": "Tutorial", "timeattack": "Time attack", "bossrush": "Bossrush", "multicoop": "Multi", "multitime": "Multi time attack", "soccer": "Soccerfest"}
        input(type='radio' name='mode' value=name id=name + 'mode' checked=(mode === name))
        label(for=name + 'mode')=display

      h3 Game options
      input(type='checkbox' name='options[]' value='mirror')#mirrorMode
      label(for='mirrorMode') Mirror
      input(type='checkbox' name='options[]' value='nightmare')#nightmareMode
      label(for='nightmareMode') Nightmare
      input(type='checkbox' name='options[]' value='ninja')#ninjaMode
      label(for='ninjaMode') Ninja
      input(type='checkbox' name='options[]' value='bombexpert')#bombexpertMode
      label(for='bombexpertMode') Bombexpert
      input(type='checkbox' name='options[]' value='boost')#boostMode
      label(for='boostMode') Boost
      input(type='checkbox' name='options[]' value='dark')#darkMode
      label(for='darkMode') Dark
      input(type='checkbox' name='options[]' value='blind')#blindMode
      label(for='blindMode') Blind
      input(type='checkbox' name='options[]' value='ice')#iceMode
      label(for='iceMode') Ice
      input(type='checkbox' name='options[]' value='georges')#georgesMode
      label(for='georgesMode') Georges
      // input(type='checkbox' name='options[]' value='aqua')#aquaMode
      // label(for='aquaMode') Aqua
      h3 Maps
      label(for='soccerfestMap') Soccerfest
      select(name="options[]")#soccerfestMap
        option(value="set_soc_0") A
        option(value="set_soc_1") B
        option(value="set_soc_2") C
        option(value="set_soc_3") D
        option(value="set_soc_4") E
        option(value="set_soc_5") F
        option(value="set_soc_6") G
        option(value="set_soc_7") H
      label(for='timeattackMap') Time attack
      select(name="options[]")#timeattackMap
        option(value="set_ta_0") A
        option(value="set_ta_1") B
      label(for='multitimeMap') Multi time attack
      select(name="options[]")#multitimeMap
        option(value="set_mta_0") A
        option(value="set_mta_1") B
      br
      input(type='submit' value='New game')
    .siteMinHeight
      a(name='play')
      .game
        .topBar
          script.
            //<![CDATA[
            // 420x520  630x780  504x624
            var fo = new FlashObject("/loader.swf?v=96", "game", 420,520, 7);
            fo.addVariable("$mode",   	  "#{mode}");
            fo.addVariable("$options",    "#{optionsString}");
            fo.addVariable("$lang",	  "fr");
            fo.addVariable("baseUrl",	  "#{baseUrl}");
            fo.addVariable("swf",	  "game.swf?v=101");
            fo.addVariable("srv",	  "play.html/manage");
            fo.addVariable("$shake",		"0");
            fo.addVariable("$detail",		"0");
            fo.addVariable("$sound",		"0");
            fo.addVariable("$music",		"0");
            fo.addVariable("$volume",		"100");
            fo.addVariable("debug",		"#{_debug}");
            fo.addVariable("$lives",  "#{lives}");
            fo.addVariable("$bombs",  "#{bombs}");
            fo.addVariable("$startLevel",  "#{startLevel}");
            fo.addVariable("$levels",  "#{levels}");
            fo.addVariable("$levels_dim1",  "#{levels_dim1}");
            fo.addVariable("$levels_dim2",  "#{levels_dim2}");
            fo.addVariable("$levels_dim3",  "#{levels_dim3}");
            fo.addVariable("$levels_dim4",  "#{levels_dim4}");
            fo.addVariable("$links",  "#{links}");
            fo.addVariable("$skins",  "#{skins}");

            fo.addParam("allowScriptAccess","always"); // flash 9 redirect fix
            fo.write();
            //]]>
        .bottomBar
